/node_modules
/public/hot
/public/storage
/public/assets/images/companies
/storage/*.key
/vendor
/data.ms
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
data.ms/main/lock.mdb
data.ms/update/data.mdb
data.ms/update/lock.mdb
data.ms/main/data.mdb
